<!DOCTYPE html>
<html>
  <head>
    <meta property="og:title" content="Lazy Panda" />
    <meta property='og:image' content="<%= image_url('rsz_project.png') %>"/>
    <meta property="og:description"
      content="LazyPanda is a BoredPanda clone, which is a social media application that allows users to post and share anything ranging from somber news articles to entertaining, cute animal pictures. Rails was implemented for the backend, while React/Redux was utilized for the frontend."
    />
    <meta property="og:url"
      content="https://lazy-panda.herokuapp.com/"
    />
    <title>LazyPanda</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'kiKMgaoij.jpg' %>

    <script src="https://kit.fontawesome.com/762f5fad26.js" crossorigin="anonymous"></script>

  </head>

  <body>
    <%= yield %>
  </body>
  <footer id="footer">&#10084; Made by <a href="https://github.com/michelle-ha/LazyPanda">Michelle Ha <i class="fab fa-github"></i></a> &#10084; <footer>

</html>

